numpy<2
requests
protobuf
spacy==3.7.4
en-core-web-md @ https://github.com/explosion/spacy-models/releases/download/en_core_web_md-3.7.1/en_core_web_md-3.7.1.tar.gz
streamlit>=1.26
google-generativeai
biopython
bitstring
python-dotenv
tqdm
pydantic>=2.0
opencv-python-headless
# Streamlit & Data
pandas
altair
watchdog
pillow
scikit-image
pyyaml
