numpy<2
cython
requests
protobuf
spacy==3.7.4
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.1/en_core_web_sm-3.7.1.tar.gz
sentence-transformers
streamlit>=1.26
google-generativeai
biopython
bitstring
python-dotenv
tqdm
pydantic>=2.0
opencv-python-headless
torch
torchvision
torchaudio
# Streamlit & Data
pandas
altair
watchdog
pillow
scikit-image
pyyaml
tensorboard
